@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
    body {
            background-color: #015249;

        }

        .container {
            background-color: #ffffff;
            border: 5px solid #43a095;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            margin-top: 20px;
            
        }

        h1 {
            font-size: 50px;
            text-align: center;
            margin-bottom: 30px;
        }

        h2 {
            font-size: 50px;
            text-align: center;
            margin-bottom: 20px;
        }

        .content-box {
            background-color: #ffffff;
            border: 3px solid #015249;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 20px;
            width: 100%;
            height: 100%;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .btn-primary {
            display: block;
            width: 100%; /* Torna o botão 100% da largura do seu contêiner */
            font-size: 24px; /* Aumentei o tamanho da fonte do botão */
            margin-top: 20px; /* Adiciona espaço acima do botão */
            background-color:#015249;
        }

        .btn-primary:hover {
            display: block;
            width: 100%; /* Torna o botão 100% da largura do seu contêiner */
            font-size: 24px; /* Aumentei o tamanho da fonte do botão */
            margin-top: 20px; /* Adiciona espaço acima do botão */
            background-color:#43a095;
        }